.App {
  text-align: center;
}

table tr:nth-child(even) {
  background-color: antiquewhite;
}

table th {
  background-color: #61dafb;
  color: #282c34;
}

.highlited-row {
  animation: highlight 1s ease-in-out;
}

@keyframes highlight {
  0% {
    background-color: blue;
  }
  50% {
    background-color: rebeccapurple;
  }
  100% {
    background-color: yellow;
  }
}
